.user-info-container {
  display: flex;
}

.user-info-avatar {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-image {
  width: 50%;
  border-radius: 50%;
  background-image: url("path/to/avatar.jpg");
  background-size: cover;
  background-position: center;
}


.avatar-username {
  margin-top: 10px;
  font-size: 18px;
}

.user-info-details {
  flex: 1;
  padding: 20px;
}

.user-info-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.user-info-item {
  margin-bottom: 10px;
}
.user-info-item ul{
  list-style-type: none;
  padding: 10px;
}
.user-info-item ul li {
  margin-bottom: 8px;
}

.user-info-item ul li:before {
  content: "▹";
  color: #ffca28;
  margin-right: 8px;
}

.user-info-label {
  font-weight: bold;
}

.user-info-footer {
  margin-top: 32px;
  font-size: 14px;
  opacity: 0.8;
}
