.showcard-container {
  /* Styles for the show card container */
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 3px;
  width: 23%;
  position: relative;
  height: 400px;
}
.showcard-container a{
  display: flex;
  flex-direction: column;
  height: 100%;
}
.showcard-poster {
  width: 100%;
  /* max-height: 300px; */
  height: 75%;
  border-radius: 4px;
}

.showcard-details {
  margin-top: 16px;
  text-align: center;
  background: var(--main-back);
  border-radius: 8px;
  padding: 10px;
  flex: 1;
  overflow: hidden;
}

.showcard-name {
  font-size: 18px;
  color: #ffbd4d; 
  margin-bottom: 8px;
}

.showcard-vote {
  font-size: 14px;
  color: #0056b3;
  color: #ffbd4d; 
}

.showcard-container.skeleton {
  background-color: #f5f5f5; 
}

.showcard-skeleton {
  height: 300px;
  background-color: #ddd; 
  border-radius: 4px;
}

.showcard-skeleton {
  /* position: absolute; */
  top: 0; 
  left: 0; /* Position*/
  right: 0; /* Positior */
  bottom: 0; /* Positiner */
  background-color: #ddd; /* Set background color for skeleton screen effect */
  border-radius: 4px; /* Set border radius for a more rounded look */
  animation: skeleton-animation 1s infinite alternate; /* Add animation for a pulsating effect */
  z-index: 1; /* Set z-index to be above the poster image */
}

@keyframes skeleton-animation {
  0% {
    opacity: 0.2; /* Set initial opacity */
  }
  100% {
    opacity: 1; /* Set final opacity */
  }
}

.showcard-delete-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #f00; /* Set desired background color */
  color: #fff; /* Set desired text color */
  border: none;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.showcard-delete-button:hover {
  background-color: #c00; /* Set desired background color on hover */
}