
.shows-box{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 16px;
    justify-content: center;
}
.shows-box .box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: var(--main-color);
    width: 23%;
    height: 350px;
    padding: 5px;
    border-radius: 4px;
}

.shows-box .box .top{
    width: 100%;
    flex: 2;
    border-radius: 4px;
}

.shows-box .box .bottom{
    width: 100%;
    flex: 1;
    border-radius: 4px;
}
.shows-box .box .bottom .describition{
    height: 100%;
}