/* Casts Component Container */
.casts-container {
    margin-top: 24px;
  }
  
  /* Casts Component Title */
  .casts-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
  }
  
  /* Casts List */
  .casts-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 19px;
    justify-content: space-around;
  }
  
  /* Cast List Item */
  .cast-item {
    display: flex;
    align-items: center;
    width: 32%;
  }
  
  /* Cast Image Container */
  .cast-img-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #f3f3f3;
  }
  
  /* Cast Image */
  .cast-img {
    width: 100%;
    height: 100%;
  }
  
  /* Cast Image Placeholder */
  .cast-img-placeholder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #aaa;
  }
  
  /* Cast Details Container */
  .cast-details {
    margin-left: 16px;
  }
  
  /* Cast Name */
  .cast-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* Cast Background */
  .cast-background {
    font-size: 14px;
    color: #666;
  }
  
  @media (max-width:480px) {
    .cast-item{
      width: 100% !important; 
    }
    .cast-img-container{
      width: 45%;
      height: 167px;
    }
  }