.shows-container {
  /* Styles for the shows container */
  margin: 16px;
}
.shows-title-container{
  display: flex;
  justify-content: space-between;
}
.shows-title {
  /* Styles for the shows title */
  font-size: 28px;
  color: #ffbd4d; /* Update color to a glorious golden yellow */
  margin-bottom: 16px;
  background-color: #333;
  padding: 10px;
  border-radius: 11px;
  width: 100%;
  box-shadow: -2px 12px 16px #ffc10759;
}

.shows-grid {
  /* Styles for the shows grid */
  display: flex; /* Update to a flexbox layout */
  flex-wrap: wrap; /* Wrap items to new row when space is not enough */
  gap: 16px;
  justify-content: center;
}

/* Add any other styles as needed for the rest of the component content */
