/* SignIn.css */
.signInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .signInContainer *{
    color: black;
  }
  
  
  
  
  
  
  
  
  
  
  .error {
    margin: 16px 0;
    color: #f00;
    font-size: 14px;
    animation: bounce 0.5s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  
  .linkText{
    color: black;
  }
  
